root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{cs,csproj,sln,props,targets,xaml,resx,md,json,xml,config}]
charset = utf-8

[*.sln]
end_of_line = crlf

[*.{cmd,bat,ps1}]
end_of_line = crlf
